{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <br>
    <h1>Toutes les catégories : </h1>
    <a href="/categories/new">Ajouter une catégorie</a>
    {% for category in categories %}
        <div>
            <h2>{{ category.name }}</h2>
            
            <a href="{{ path("category_show", { categoryName: category.name }) }}">Voir la liste</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    
{% endblock %}
